<div class="panel-body xsmall">
    <div class="panel">
        <div class="panel panel-primary">
            <div class="panel-heading xsmall">
                Purchase Order Viewer
            </div>
            <div class="panel-body xsmall">
                <div class="col-xs-5 col-lg-6 text-right">Vendor: </div>
                <div class="col-xs-7 col-lg-6 text-left"><select ng-change="selectVendor()" required ng-model="viewer.vendorno" name="vendorno" ng-options="v.vendorno as v.vendorno for v in vendors"></select></div>
                <div class="col-xs-5 col-lg-6 text-right" ng-show="pickedVendor">PO: </div>
                <div class="col-xs-7 col-lg-6 text-left"><select ng-change="selectPO()" ng-show="pickedVendor" required ng-model="viewer.ponumber" name="ponumber" ng-options="p.ponumber as p.ponumber for p in pos"></select></div>
                <table class="table" ng-show="subtotal > 0">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Extended
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="prod in po.items" ng-show="prod.qty >0">
                        <td align="left" style="pa: 15px;">{{prod.productcode}}</td>
                        <td align="left" style="pa: 15px;">{{prod.productname}}</td>
                        <td align="left">{{prod.qty}}</td>
                        <td align="right">${{prod.extended | number:2}}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="3">Sub:</td>
                        <td align="right">${{subtotal | number:2}}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="3">Tax:</td>
                        <td align="right">${{tax | number:2}}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="3">Total:</td>
                        <td align="right">${{total | number:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="4">{{orderinfo}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>               
    <div>    
        <div>
            <button class="btn btn-primary" ng-show="pickedPO" ng-click="viewPdf()" >PDF</button>
        </div>
        <div>
            {{status}}
        </div>
    </div>
</div>